# Redis 配置
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379

# MySQL 配置
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/data_manager?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# DataX 配置
DATAX_HOME=/opt/datax
DATA_PATH=./data
